@import "tailwindcss";

@theme inline {
  /* Backgrounds */
  --color-page: #000000;
  --color-footer: #05140e;

  /* Text & brand */
  --color-contrast: #f2f2f2;
  --color-primary: #28a070;
  --color-primary-light: #5bd3a3;
  --color-link: #84deba;
  --color-button: #1e7854;
  --color-brand-100: #d6f4e8;
  --color-placeholder: #0b2e50;

  /* Typography */
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

  --text-tiny: 10px;
  --text-h6: 28px;
  --text-h6--line-height: 1;
  --text-h5: 32px;
  --text-h5--line-height: 1;
  --text-h4: 40px;
  --text-h4--line-height: 1;
  --text-h2: 64px;
  --text-h2--line-height: 1;
  --text-h1: 80px;
  --text-h1--line-height: 1;
}

body {
  background: var(--color-page);
  color: var(--color-contrast);
}
